--
-- PostgreSQL database dump
--

\restrict AJQ1aMjxaLi9QMIbMSFlEcW35Xzd9xAlLEsGeZXIHdDXe0tbQW0DnhVLtZiSCCw

-- Dumped from database version 18.6 (c5250a2)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: afeccion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.afeccion (
    id_afeccion integer NOT NULL,
    descripcion character varying(100) NOT NULL,
    id_especie integer NOT NULL
);


--
-- Name: afeccion_id_afeccion_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.afeccion_id_afeccion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: afeccion_id_afeccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.afeccion_id_afeccion_seq OWNED BY public.afeccion.id_afeccion;


--
-- Name: categoria_especie; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categoria_especie (
    id_cat_especie integer NOT NULL,
    descripcion character varying(25) NOT NULL,
    id_especie integer,
    estado boolean DEFAULT true
);


--
-- Name: categoria_especie_id_cat_especie_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.categoria_especie_id_cat_especie_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: categoria_especie_id_cat_especie_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.categoria_especie_id_cat_especie_seq OWNED BY public.categoria_especie.id_cat_especie;


--
-- Name: decomiso; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.decomiso (
    id_decomiso integer NOT NULL,
    id_faena_detalle integer NOT NULL,
    fecha_decomiso date
);


--
-- Name: decomiso_detalle; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.decomiso_detalle (
    id_decomiso_detalle integer NOT NULL,
    id_decomiso integer NOT NULL,
    cantidad integer NOT NULL,
    animales_afectados integer NOT NULL,
    observaciones text,
    peso_kg numeric(10,2) NOT NULL,
    id_afeccion integer NOT NULL,
    destino_decomiso character varying(100) NOT NULL,
    id_parte_decomisada integer,
    CONSTRAINT decomiso_detalle_animales_afectados_check CHECK ((animales_afectados >= 0)),
    CONSTRAINT decomiso_detalle_cantidad_check CHECK ((cantidad > 0))
);


--
-- Name: decomiso_detalle_id_decomiso_detalle_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.decomiso_detalle_id_decomiso_detalle_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: decomiso_detalle_id_decomiso_detalle_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.decomiso_detalle_id_decomiso_detalle_seq OWNED BY public.decomiso_detalle.id_decomiso_detalle;


--
-- Name: decomiso_id_decomiso_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.decomiso_id_decomiso_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: decomiso_id_decomiso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.decomiso_id_decomiso_seq OWNED BY public.decomiso.id_decomiso;


--
-- Name: decomiso_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.decomiso_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: departamento; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.departamento (
    id_departamento integer NOT NULL,
    id_provincia integer NOT NULL,
    nombre_departamento character varying(50)
);


--
-- Name: departamento_id_departamento_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.departamento_id_departamento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: departamento_id_departamento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.departamento_id_departamento_seq OWNED BY public.departamento.id_departamento;


--
-- Name: especie; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.especie (
    id_especie integer NOT NULL,
    descripcion character varying(20) NOT NULL,
    estado boolean DEFAULT true
);


--
-- Name: especie_id_especie_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.especie_id_especie_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: especie_id_especie_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.especie_id_especie_seq OWNED BY public.especie.id_especie;


--
-- Name: tropa_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tropa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: faena; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.faena (
    id_faena integer DEFAULT nextval('public.tropa_id_seq'::regclass) NOT NULL,
    fecha_faena date NOT NULL,
    id_tropa integer
);


--
-- Name: faena_detalle; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.faena_detalle (
    id_faena_detalle integer NOT NULL,
    id_faena integer NOT NULL,
    id_tropa_detalle integer NOT NULL,
    cantidad_faena integer NOT NULL,
    CONSTRAINT faena_detalle_cantidad_faena_check CHECK ((cantidad_faena > 0))
);


--
-- Name: faena_detalle_id_faena_detalle_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.faena_detalle_id_faena_detalle_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: faena_detalle_id_faena_detalle_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.faena_detalle_id_faena_detalle_seq OWNED BY public.faena_detalle.id_faena_detalle;


--
-- Name: faena_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.faena_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: faena_veterinario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.faena_veterinario (
    id_faena_veterinario integer NOT NULL,
    id_faena integer NOT NULL,
    id_veterinario integer NOT NULL
);


--
-- Name: faena_veterinario_id_faena_veterinario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.faena_veterinario_id_faena_veterinario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: faena_veterinario_id_faena_veterinario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.faena_veterinario_id_faena_veterinario_seq OWNED BY public.faena_veterinario.id_faena_veterinario;


--
-- Name: parte_deco_afeccion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parte_deco_afeccion (
    id_afeccion integer NOT NULL,
    id_parte_decomisada integer NOT NULL
);


--
-- Name: parte_deco_afeccion_id_tipo_parte_deco_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.parte_deco_afeccion_id_tipo_parte_deco_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parte_deco_afeccion_id_tipo_parte_deco_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.parte_deco_afeccion_id_tipo_parte_deco_seq OWNED BY public.parte_deco_afeccion.id_parte_decomisada;


--
-- Name: parte_decomisada; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parte_decomisada (
    nombre_parte character varying(100) NOT NULL,
    estado boolean DEFAULT true,
    fecha_creacion timestamp without time zone DEFAULT now(),
    id_parte_decomisada integer NOT NULL,
    id_tipo_parte_deco integer
);


--
-- Name: parte_decomisada_id_parte_decomisada_seq1; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.parte_decomisada_id_parte_decomisada_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parte_decomisada_id_parte_decomisada_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.parte_decomisada_id_parte_decomisada_seq1 OWNED BY public.parte_decomisada.id_parte_decomisada;


--
-- Name: planta; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.planta (
    id_planta integer NOT NULL,
    nombre character varying(50) NOT NULL,
    fecha_habilitacion date,
    norma_legal character varying(20),
    estado boolean,
    direccion character varying(100),
    id_provincia integer,
    cuit bigint,
    id_departamento integer
);


--
-- Name: planta_id_planta_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.planta_id_planta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: planta_id_planta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.planta_id_planta_seq OWNED BY public.planta.id_planta;


--
-- Name: planta_veterinario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.planta_veterinario (
    id_planta_veterinario integer NOT NULL,
    id_veterinario integer NOT NULL,
    id_planta integer NOT NULL,
    fecha_desde timestamp with time zone DEFAULT now(),
    estado boolean DEFAULT true
);


--
-- Name: planta_veterinario_id_planta_veterinario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.planta_veterinario_id_planta_veterinario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: planta_veterinario_id_planta_veterinario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.planta_veterinario_id_planta_veterinario_seq OWNED BY public.planta_veterinario.id_planta_veterinario;


--
-- Name: playing_with_neon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.playing_with_neon (
    id integer NOT NULL,
    name text NOT NULL,
    value real
);


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.playing_with_neon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.playing_with_neon_id_seq OWNED BY public.playing_with_neon.id;


--
-- Name: productor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.productor (
    id_productor integer NOT NULL,
    cuit bigint,
    nombre character varying(50),
    estado boolean DEFAULT true,
    creado_en timestamp without time zone DEFAULT now()
);


--
-- Name: productor_id_productor_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.productor_id_productor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: productor_id_productor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.productor_id_productor_seq OWNED BY public.productor.id_productor;


--
-- Name: provincia; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.provincia (
    id_provincia integer NOT NULL,
    descripcion character varying(20) NOT NULL
);


--
-- Name: provincia_id_provincia_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.provincia_id_provincia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: provincia_id_provincia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.provincia_id_provincia_seq OWNED BY public.provincia.id_provincia;


--
-- Name: rol_usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rol_usuario (
    id_rol integer NOT NULL,
    descripcion character varying(20) NOT NULL
);


--
-- Name: rol_usuario_id_rol_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.rol_usuario_id_rol_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rol_usuario_id_rol_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.rol_usuario_id_rol_seq OWNED BY public.rol_usuario.id_rol;


--
-- Name: tipo_parte_deco; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tipo_parte_deco (
    nombre_tipo_parte character varying(100) NOT NULL,
    id_tipo_parte_deco integer NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now()
);


--
-- Name: tipo_parte_deco_id_tipo_parte_deco_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tipo_parte_deco_id_tipo_parte_deco_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tipo_parte_deco_id_tipo_parte_deco_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tipo_parte_deco_id_tipo_parte_deco_seq OWNED BY public.tipo_parte_deco.id_tipo_parte_deco;


--
-- Name: titular_faena; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.titular_faena (
    id_titular_faena integer NOT NULL,
    nombre character varying(30),
    id_provincia smallint NOT NULL,
    localidad character varying(100) NOT NULL,
    direccion character varying(255),
    cuit character varying(11)
);


--
-- Name: titular_faena_id_titular_faena_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.titular_faena_id_titular_faena_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: titular_faena_id_titular_faena_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.titular_faena_id_titular_faena_seq OWNED BY public.titular_faena.id_titular_faena;


--
-- Name: tropa; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tropa (
    id_tropa integer DEFAULT nextval('public.tropa_id_seq'::regclass) NOT NULL,
    dte_dtu character varying(50) NOT NULL,
    guia_policial character varying(50) NOT NULL,
    fecha_alta date CONSTRAINT tropa_fecha_not_null NOT NULL,
    id_titular_faena smallint,
    n_tropa integer DEFAULT 0 NOT NULL,
    id_departamento integer,
    id_productor integer,
    id_planta integer,
    fecha_ingreso date
);


--
-- Name: tropa_detalle; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tropa_detalle (
    id_cat_especie integer NOT NULL,
    id_tropa integer,
    id_especie smallint,
    cantidad smallint NOT NULL,
    id_tropa_detalle integer NOT NULL
);


--
-- Name: tropa_detalle_id_tropa_detalle_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tropa_detalle_id_tropa_detalle_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tropa_detalle_id_tropa_detalle_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tropa_detalle_id_tropa_detalle_seq OWNED BY public.tropa_detalle.id_tropa_detalle;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuario (
    id_usuario integer NOT NULL,
    dni integer NOT NULL,
    nombre character varying(20) NOT NULL,
    apellido character varying(20) NOT NULL,
    contrasenia character varying(255) NOT NULL,
    email character varying(100) NOT NULL,
    creado_en timestamp with time zone DEFAULT now(),
    id_rol integer NOT NULL,
    estado boolean,
    id_planta integer,
    n_telefono bigint
);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuario_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuario_id_usuario_seq OWNED BY public.usuario.id_usuario;


--
-- Name: veterinario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.veterinario (
    id_veterinario integer NOT NULL,
    nombre_vet character varying(50) NOT NULL,
    apellido_vet character varying(50) NOT NULL,
    matricula character varying(20) NOT NULL,
    dni integer NOT NULL,
    email character varying(100) NOT NULL,
    n_telefono bigint,
    estado boolean DEFAULT true,
    fecha_creacion timestamp with time zone DEFAULT now()
);


--
-- Name: veterinario_id_veterinario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.veterinario_id_veterinario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: veterinario_id_veterinario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.veterinario_id_veterinario_seq OWNED BY public.veterinario.id_veterinario;


--
-- Name: afeccion id_afeccion; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.afeccion ALTER COLUMN id_afeccion SET DEFAULT nextval('public.afeccion_id_afeccion_seq'::regclass);


--
-- Name: categoria_especie id_cat_especie; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria_especie ALTER COLUMN id_cat_especie SET DEFAULT nextval('public.categoria_especie_id_cat_especie_seq'::regclass);


--
-- Name: decomiso id_decomiso; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso ALTER COLUMN id_decomiso SET DEFAULT nextval('public.decomiso_id_decomiso_seq'::regclass);


--
-- Name: decomiso_detalle id_decomiso_detalle; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso_detalle ALTER COLUMN id_decomiso_detalle SET DEFAULT nextval('public.decomiso_detalle_id_decomiso_detalle_seq'::regclass);


--
-- Name: departamento id_departamento; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.departamento ALTER COLUMN id_departamento SET DEFAULT nextval('public.departamento_id_departamento_seq'::regclass);


--
-- Name: especie id_especie; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.especie ALTER COLUMN id_especie SET DEFAULT nextval('public.especie_id_especie_seq'::regclass);


--
-- Name: faena_detalle id_faena_detalle; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_detalle ALTER COLUMN id_faena_detalle SET DEFAULT nextval('public.faena_detalle_id_faena_detalle_seq'::regclass);


--
-- Name: faena_veterinario id_faena_veterinario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_veterinario ALTER COLUMN id_faena_veterinario SET DEFAULT nextval('public.faena_veterinario_id_faena_veterinario_seq'::regclass);


--
-- Name: parte_deco_afeccion id_parte_decomisada; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_deco_afeccion ALTER COLUMN id_parte_decomisada SET DEFAULT nextval('public.parte_deco_afeccion_id_tipo_parte_deco_seq'::regclass);


--
-- Name: parte_decomisada id_parte_decomisada; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_decomisada ALTER COLUMN id_parte_decomisada SET DEFAULT nextval('public.parte_decomisada_id_parte_decomisada_seq1'::regclass);


--
-- Name: planta id_planta; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta ALTER COLUMN id_planta SET DEFAULT nextval('public.planta_id_planta_seq'::regclass);


--
-- Name: planta_veterinario id_planta_veterinario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta_veterinario ALTER COLUMN id_planta_veterinario SET DEFAULT nextval('public.planta_veterinario_id_planta_veterinario_seq'::regclass);


--
-- Name: playing_with_neon id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.playing_with_neon ALTER COLUMN id SET DEFAULT nextval('public.playing_with_neon_id_seq'::regclass);


--
-- Name: productor id_productor; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productor ALTER COLUMN id_productor SET DEFAULT nextval('public.productor_id_productor_seq'::regclass);


--
-- Name: provincia id_provincia; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provincia ALTER COLUMN id_provincia SET DEFAULT nextval('public.provincia_id_provincia_seq'::regclass);


--
-- Name: rol_usuario id_rol; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rol_usuario ALTER COLUMN id_rol SET DEFAULT nextval('public.rol_usuario_id_rol_seq'::regclass);


--
-- Name: tipo_parte_deco id_tipo_parte_deco; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tipo_parte_deco ALTER COLUMN id_tipo_parte_deco SET DEFAULT nextval('public.tipo_parte_deco_id_tipo_parte_deco_seq'::regclass);


--
-- Name: titular_faena id_titular_faena; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.titular_faena ALTER COLUMN id_titular_faena SET DEFAULT nextval('public.titular_faena_id_titular_faena_seq'::regclass);


--
-- Name: tropa_detalle id_tropa_detalle; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa_detalle ALTER COLUMN id_tropa_detalle SET DEFAULT nextval('public.tropa_detalle_id_tropa_detalle_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuario_id_usuario_seq'::regclass);


--
-- Name: veterinario id_veterinario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.veterinario ALTER COLUMN id_veterinario SET DEFAULT nextval('public.veterinario_id_veterinario_seq'::regclass);


--
-- Data for Name: afeccion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.afeccion (id_afeccion, descripcion, id_especie) FROM stdin;
1	Tuberculosis	1
5	Distomastosis	1
6	Contuso	1
7	Hidatidosis	1
8	Cisticercosis	1
9	Fetos	1
10	Hidatidosis	2
23	prueba	6
24	Esofagostomosis	1
25	Hemorrag├¡as	1
26	Mastitis	1
27	Nefritis	1
28	Abscesos	1
29	Miocarditis	1
\.


--
-- Data for Name: categoria_especie; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.categoria_especie (id_cat_especie, descripcion, id_especie, estado) FROM stdin;
1	Vaquillas	1	t
2	Vaquillonas	1	t
3	Vacas	1	t
4	Toritos MEJ	1	t
5	Terneros	1	t
6	Novillitos	1	t
7	Novillos	1	t
8	Terneras	1	t
9	Toros	1	t
10	Novillos	2	t
11	Cap├│n	3	t
12	Cerda	3	t
13	Lech├│n	3	t
14	Padrillo	3	t
15	MEI	3	t
\.


--
-- Data for Name: decomiso; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: decomiso_detalle; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: departamento; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: especie; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.especie (id_especie, descripcion, estado) FROM stdin;
1	Bovinos	t
2	Bubalinos	t
3	Porcinos	t
4	Avess	f
5	Cavernico	f
6	Ovino	t
\.


--
-- Data for Name: faena; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: faena_detalle; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: faena_veterinario; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.faena_veterinario (id_faena_veterinario, id_faena, id_veterinario) FROM stdin;
\.


--
-- Data for Name: parte_deco_afeccion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.parte_deco_afeccion (id_afeccion, id_parte_decomisada) FROM stdin;
1	2
1	1
5	2
7	1
7	2
1	4
6	1
5	6
7	6
1	3
5	1
6	6
6	2
6	9
6	5
6	3
6	4
8	9
8	6
9	6
1	5
8	1
8	2
10	1
9	9
24	10
25	1
26	11
27	12
28	13
10	13
1	13
1	14
1	12
1	15
8	5
1	16
29	2
10	16
28	1
28	16
28	2
8	12
\.


--
-- Data for Name: parte_decomisada; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: planta; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: planta_veterinario; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.planta_veterinario (id_planta_veterinario, id_veterinario, id_planta, fecha_desde, estado) FROM stdin;
\.


--
-- Data for Name: playing_with_neon; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.playing_with_neon (id, name, value) FROM stdin;
1	c4ca4238a0	0.5304464
2	c81e728d9d	0.17362325
3	eccbc87e4b	0.016662244
4	a87ff679a2	0.81156296
5	e4da3b7fbb	0.58208203
6	1679091c5a	0.20845702
7	8f14e45fce	0.647923
8	c9f0f895fb	0.6788626
9	45c48cce2e	0.27090892
10	d3d9446802	0.56056035
\.


--
-- Data for Name: productor; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: provincia; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.provincia (id_provincia, descripcion) FROM stdin;
4	Chaco
2	Corrientes
11	Entre R├¡os
12	Misiones
14	Catamarca
16	Buenos Aires
17	Santa Fe
18	Formosa
19	Chubut
20	Salta
21	Santiago del Estero
\.


--
-- Data for Name: rol_usuario; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.rol_usuario (id_rol, descripcion) FROM stdin;
1	SuperAdmin
2	Supervisor
3	Usuario
\.


--
-- Data for Name: tipo_parte_deco; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tipo_parte_deco (nombre_tipo_parte, id_tipo_parte_deco, estado, fecha_creacion) FROM stdin;
Res	2	t	2025-09-25 10:23:30.623806
Organo	3	t	2025-09-25 10:23:40.402824
Feto	4	t	2025-09-25 10:24:03.210204
Visceras	5	f	2026-06-03 15:23:11.556236
Cabeza	6	t	2026-06-03 22:22:23.53927
Cuarto anterior	7	t	2026-06-03 22:22:42.649529
Cuarto posterior	8	t	2026-06-03 22:23:00.279059
Media res	9	t	2026-06-03 22:23:27.002348
\.


--
-- Data for Name: titular_faena; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tropa; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tropa_detalle; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: veterinario; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: afeccion_id_afeccion_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.afeccion_id_afeccion_seq', 29, true);


--
-- Name: categoria_especie_id_cat_especie_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categoria_especie_id_cat_especie_seq', 15, true);


--
-- Name: decomiso_detalle_id_decomiso_detalle_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.decomiso_detalle_id_decomiso_detalle_seq', 193, true);


--
-- Name: decomiso_id_decomiso_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.decomiso_id_decomiso_seq', 162, true);


--
-- Name: decomiso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.decomiso_id_seq', 2, true);


--
-- Name: departamento_id_departamento_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.departamento_id_departamento_seq', 98, true);


--
-- Name: especie_id_especie_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.especie_id_especie_seq', 6, true);


--
-- Name: faena_detalle_id_faena_detalle_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.faena_detalle_id_faena_detalle_seq', 307, true);


--
-- Name: faena_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.faena_id_seq', 1, false);


--
-- Name: faena_veterinario_id_faena_veterinario_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.faena_veterinario_id_faena_veterinario_seq', 1, false);


--
-- Name: parte_deco_afeccion_id_tipo_parte_deco_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.parte_deco_afeccion_id_tipo_parte_deco_seq', 1, false);


--
-- Name: parte_decomisada_id_parte_decomisada_seq1; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.parte_decomisada_id_parte_decomisada_seq1', 16, true);


--
-- Name: planta_id_planta_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.planta_id_planta_seq', 14, true);


--
-- Name: planta_veterinario_id_planta_veterinario_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.planta_veterinario_id_planta_veterinario_seq', 1, false);


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.playing_with_neon_id_seq', 10, true);


--
-- Name: productor_id_productor_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.productor_id_productor_seq', 138, true);


--
-- Name: provincia_id_provincia_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.provincia_id_provincia_seq', 22, true);


--
-- Name: rol_usuario_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.rol_usuario_id_rol_seq', 3, true);


--
-- Name: tipo_parte_deco_id_tipo_parte_deco_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tipo_parte_deco_id_tipo_parte_deco_seq', 9, true);


--
-- Name: titular_faena_id_titular_faena_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.titular_faena_id_titular_faena_seq', 37, true);


--
-- Name: tropa_detalle_id_tropa_detalle_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tropa_detalle_id_tropa_detalle_seq', 318, true);


--
-- Name: tropa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tropa_id_seq', 489, true);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuario_id_usuario_seq', 32, true);


--
-- Name: veterinario_id_veterinario_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.veterinario_id_veterinario_seq', 7, true);


--
-- Name: afeccion afeccion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.afeccion
    ADD CONSTRAINT afeccion_pkey PRIMARY KEY (id_afeccion);


--
-- Name: categoria_especie categoria_especie_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria_especie
    ADD CONSTRAINT categoria_especie_pkey PRIMARY KEY (id_cat_especie);


--
-- Name: decomiso_detalle decomiso_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso_detalle
    ADD CONSTRAINT decomiso_detalle_pkey PRIMARY KEY (id_decomiso_detalle);


--
-- Name: decomiso decomiso_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso
    ADD CONSTRAINT decomiso_pkey PRIMARY KEY (id_decomiso);


--
-- Name: departamento departamento_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.departamento
    ADD CONSTRAINT departamento_pkey PRIMARY KEY (id_departamento);


--
-- Name: especie especie_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.especie
    ADD CONSTRAINT especie_pkey PRIMARY KEY (id_especie);


--
-- Name: faena_detalle faena_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_detalle
    ADD CONSTRAINT faena_detalle_pkey PRIMARY KEY (id_faena_detalle);


--
-- Name: faena faena_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena
    ADD CONSTRAINT faena_pkey PRIMARY KEY (id_faena);


--
-- Name: faena_veterinario faena_veterinario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_veterinario
    ADD CONSTRAINT faena_veterinario_pkey PRIMARY KEY (id_faena_veterinario);


--
-- Name: parte_deco_afeccion pk_parte_deco_afeccion; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_deco_afeccion
    ADD CONSTRAINT pk_parte_deco_afeccion PRIMARY KEY (id_afeccion, id_parte_decomisada);


--
-- Name: parte_decomisada pk_parte_decomisada; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_decomisada
    ADD CONSTRAINT pk_parte_decomisada PRIMARY KEY (id_parte_decomisada);


--
-- Name: planta planta_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta
    ADD CONSTRAINT planta_pkey PRIMARY KEY (id_planta);


--
-- Name: planta_veterinario planta_veterinario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta_veterinario
    ADD CONSTRAINT planta_veterinario_pkey PRIMARY KEY (id_planta_veterinario);


--
-- Name: playing_with_neon playing_with_neon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.playing_with_neon
    ADD CONSTRAINT playing_with_neon_pkey PRIMARY KEY (id);


--
-- Name: productor productor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productor
    ADD CONSTRAINT productor_pkey PRIMARY KEY (id_productor);


--
-- Name: provincia provincia_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provincia
    ADD CONSTRAINT provincia_pkey PRIMARY KEY (id_provincia);


--
-- Name: rol_usuario rol_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rol_usuario
    ADD CONSTRAINT rol_usuario_pkey PRIMARY KEY (id_rol);


--
-- Name: tipo_parte_deco tipo_parte_deco_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tipo_parte_deco
    ADD CONSTRAINT tipo_parte_deco_pkey PRIMARY KEY (id_tipo_parte_deco);


--
-- Name: titular_faena titular_faena_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.titular_faena
    ADD CONSTRAINT titular_faena_pkey PRIMARY KEY (id_titular_faena);


--
-- Name: tropa_detalle tropa_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa_detalle
    ADD CONSTRAINT tropa_detalle_pkey PRIMARY KEY (id_tropa_detalle);


--
-- Name: tropa tropa_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa
    ADD CONSTRAINT tropa_pkey PRIMARY KEY (id_tropa);


--
-- Name: provincia unique_descripcion_provincia; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.provincia
    ADD CONSTRAINT unique_descripcion_provincia UNIQUE (descripcion);


--
-- Name: tropa unique_dte_dtu; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa
    ADD CONSTRAINT unique_dte_dtu UNIQUE (dte_dtu);


--
-- Name: planta_veterinario uq_veterinario; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta_veterinario
    ADD CONSTRAINT uq_veterinario UNIQUE (id_veterinario);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: veterinario veterinario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.veterinario
    ADD CONSTRAINT veterinario_pkey PRIMARY KEY (id_veterinario);


--
-- Name: FK_id_categoria_especie; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "FK_id_categoria_especie" ON public.especie USING btree (id_especie);


--
-- Name: idx_planta_cuit; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_planta_cuit ON public.planta USING btree (cuit);


--
-- Name: decomiso_detalle decomiso_detalle_id_decomiso_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso_detalle
    ADD CONSTRAINT decomiso_detalle_id_decomiso_fkey FOREIGN KEY (id_decomiso) REFERENCES public.decomiso(id_decomiso) ON DELETE CASCADE;


--
-- Name: decomiso decomiso_id_faena_detalle_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso
    ADD CONSTRAINT decomiso_id_faena_detalle_fkey FOREIGN KEY (id_faena_detalle) REFERENCES public.faena_detalle(id_faena_detalle) ON DELETE CASCADE;


--
-- Name: faena_detalle faena_detalle_id_faena_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_detalle
    ADD CONSTRAINT faena_detalle_id_faena_fkey FOREIGN KEY (id_faena) REFERENCES public.faena(id_faena) ON DELETE CASCADE;


--
-- Name: faena_detalle faena_detalle_id_tropa_detalle_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_detalle
    ADD CONSTRAINT faena_detalle_id_tropa_detalle_fkey FOREIGN KEY (id_tropa_detalle) REFERENCES public.tropa_detalle(id_tropa_detalle);


--
-- Name: faena faena_id_tropa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena
    ADD CONSTRAINT faena_id_tropa_fkey FOREIGN KEY (id_tropa) REFERENCES public.tropa(id_tropa);


--
-- Name: decomiso_detalle fk_decomiso_detalle_parte; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.decomiso_detalle
    ADD CONSTRAINT fk_decomiso_detalle_parte FOREIGN KEY (id_parte_decomisada) REFERENCES public.parte_decomisada(id_parte_decomisada) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: tropa fk_id_departamento; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa
    ADD CONSTRAINT fk_id_departamento FOREIGN KEY (id_departamento) REFERENCES public.departamento(id_departamento);


--
-- Name: afeccion fk_id_especie; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.afeccion
    ADD CONSTRAINT fk_id_especie FOREIGN KEY (id_especie) REFERENCES public.especie(id_especie);


--
-- Name: categoria_especie fk_id_especie; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categoria_especie
    ADD CONSTRAINT fk_id_especie FOREIGN KEY (id_especie) REFERENCES public.especie(id_especie);


--
-- Name: tropa_detalle fk_id_especie; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa_detalle
    ADD CONSTRAINT fk_id_especie FOREIGN KEY (id_especie) REFERENCES public.especie(id_especie);


--
-- Name: faena_veterinario fk_id_faena; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_veterinario
    ADD CONSTRAINT fk_id_faena FOREIGN KEY (id_faena) REFERENCES public.faena(id_faena);


--
-- Name: planta_veterinario fk_id_planta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta_veterinario
    ADD CONSTRAINT fk_id_planta FOREIGN KEY (id_planta) REFERENCES public.planta(id_planta);


--
-- Name: tropa fk_id_planta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa
    ADD CONSTRAINT fk_id_planta FOREIGN KEY (id_planta) REFERENCES public.planta(id_planta);


--
-- Name: usuario fk_id_planta; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT fk_id_planta FOREIGN KEY (id_planta) REFERENCES public.planta(id_planta);


--
-- Name: tropa fk_id_productor; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa
    ADD CONSTRAINT fk_id_productor FOREIGN KEY (id_productor) REFERENCES public.productor(id_productor);


--
-- Name: departamento fk_id_provincia; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.departamento
    ADD CONSTRAINT fk_id_provincia FOREIGN KEY (id_provincia) REFERENCES public.provincia(id_provincia);


--
-- Name: titular_faena fk_id_provincia; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.titular_faena
    ADD CONSTRAINT fk_id_provincia FOREIGN KEY (id_provincia) REFERENCES public.provincia(id_provincia) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: usuario fk_id_rol; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT fk_id_rol FOREIGN KEY (id_rol) REFERENCES public.rol_usuario(id_rol);


--
-- Name: tropa fk_id_titular_faena; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa
    ADD CONSTRAINT fk_id_titular_faena FOREIGN KEY (id_titular_faena) REFERENCES public.titular_faena(id_titular_faena);


--
-- Name: tropa_detalle fk_id_tropa; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tropa_detalle
    ADD CONSTRAINT fk_id_tropa FOREIGN KEY (id_tropa) REFERENCES public.tropa(id_tropa);


--
-- Name: faena_veterinario fk_id_veterinario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faena_veterinario
    ADD CONSTRAINT fk_id_veterinario FOREIGN KEY (id_veterinario) REFERENCES public.veterinario(id_veterinario);


--
-- Name: planta_veterinario fk_id_veterinario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planta_veterinario
    ADD CONSTRAINT fk_id_veterinario FOREIGN KEY (id_veterinario) REFERENCES public.veterinario(id_veterinario);


--
-- Name: parte_deco_afeccion fk_parte_deco_afeccion_afeccion; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_deco_afeccion
    ADD CONSTRAINT fk_parte_deco_afeccion_afeccion FOREIGN KEY (id_afeccion) REFERENCES public.afeccion(id_afeccion) ON DELETE CASCADE;


--
-- Name: parte_deco_afeccion fk_parte_deco_afeccion_parte; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_deco_afeccion
    ADD CONSTRAINT fk_parte_deco_afeccion_parte FOREIGN KEY (id_parte_decomisada) REFERENCES public.parte_decomisada(id_parte_decomisada) ON DELETE CASCADE;


--
-- Name: parte_decomisada fk_tipo_parte_deco; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parte_decomisada
    ADD CONSTRAINT fk_tipo_parte_deco FOREIGN KEY (id_tipo_parte_deco) REFERENCES public.tipo_parte_deco(id_tipo_parte_deco);


--
-- PostgreSQL database dump complete
--

\unrestrict AJQ1aMjxaLi9QMIbMSFlEcW35Xzd9xAlLEsGeZXIHdDXe0tbQW0DnhVLtZiSCCw

